<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_cuy_jaya"
        android:label="CUY JAYA"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_cuy_jaya"
        android:supportsRtl="true"
        android:theme="@style/Theme.Database"
        tools:targetApi="31">
        <activity
            android:name=".TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".pemasukan.PemasukanDetail"
            android:exported="false" />
        <activity
            android:name=".sumber.ActivitySumber"
            android:exported="false" />
        <activity
            android:name=".sumber.SumberDetail"
            android:exported="false" />
        <activity
            android:name=".pemasukan.ActivityPemasukan"
            android:exported="false" />
        <activity
            android:name=".MainSplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bahan.BahanEdit"
            android:exported="false" />
        <activity
            android:name=".bahan.BahanTambah"
            android:exported="false" />
        <activity
            android:name=".bahan.ActivityBahan"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityReference"
            android:exported="false" />
    </application>

</manifest>